# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg
*.egg-info/
*.eggs/
*.manifest
*.spec

# Virtual environments
venv/
env/
.venv/
.env/

# Django stuff
*.log
local_settings.py
db.sqlite3
media/
staticfiles/

# VSCode
.vscode/

# PyCharm
.idea/

# OS files
.DS_Store
Thumbs.db

# Pipenv
Pipfile.lock

# Migrations cache
*/migrations/__pycache__/

python/